table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  table-layout: fixed;
}

td {
  width: 60px; /* Set the width you desire */
  height: 60px; /* Set the height you desire */
  border: 1px solid black; /* Optional: Add borders for visual separation */
  text-align: center; /* Optional: Center text within the cells */
  vertical-align: middle; /* Optional: Vertically center text */
  font-size: 50px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  margin-bottom: 1rem;
  width: 15rem;
  color: white;
  background-color: red;
  font-size: 50px;
  border-radius: 50px;

}
